<mat-list role="list">
  <ng-container *ngIf="!(signedin$ | async)">
    <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
      <mat-icon>follow_the_signs</mat-icon>
      <span class="link-name">Signup</span></a
    >
    <a mat-list-item routerLink="/login" (click)="sidenav.close()">
      <mat-icon>login</mat-icon>
      <span class="link-name">Login</span>
    </a>
  </ng-container>
  <ng-container *ngIf="signedin$ | async">
    <a
      mat-list-item
      routerLink="/training/new-training"
      (click)="sidenav.close()"
    >
      <mat-icon>sports_martial_arts</mat-icon
      ><span class="link-name">Training</span></a
    >
    <a mat-list-item routerLink="/signout" (click)="sidenav.close()">
      <mat-icon>logout</mat-icon>
      <span class="link-name">Signout</span></a
    >
  </ng-container>
</mat-list>
