section {
  height: 100vh;
}

mat-form-field {
  width: 350px;
}

mat-spinner {
  width: 50px !important;
}

form {
  background-color: #eee;
  padding: 40px;
  border: 3px solid #3f51b5;
  border-radius: 20px;
}
